[submodule "SlidingMenu"]
	path = SlidingMenu
	url = git@github.com:Geekner/SlidingMenu.git
[submodule "ActionBar-PullToRefresh"]
	path = ActionBar-PullToRefresh
	url = git@github.com:Geekner/ActionBar-PullToRefresh.git
