[submodule "ActionBar-PullToRefresh"]
	path = ActionBar-PullToRefresh
	url = git@github.com:Geekner/ActionBar-PullToRefresh.git
	branch = PullFromBottom
[submodule "FastLibrary"]
	path = FastLibrary
	url = git@github.com:Geekner/FastLibrary.git
	branch = actionbar-ptr-dev
[submodule "SlidingMenu"]
	path = SlidingMenu
	url = git@github.com:Geekner/SlidingMenu.git
	branch = Something
