<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.fastfourier.something">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Something.Dark"
        android:name=".SomeApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrivateMessageListActivity" android:label="@string/private_messages"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".LoginActivity" android:label="@string/login_activity_title"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ReplyActivity" android:label="@string/reply_activity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>
