    <nav class="navbar">
        <ul>
            <li>
                <a class="prev" href="something://something-prev">Prev</a>
            </li>
            <li>
                <a class="pagebar" href="something://something-pageselect">{{ currentPage }}/{{ pageCount }}</a>
            </li>
            <li>
                <a class="next" href="something://something-next">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>