<article class="unread" >
	<header class="postheader">
        <section  class="pmtitle">
            {{{ pmtitle }}}
        </section >
     	<section  class="postinfo">
 			{{# avatarURL }}
     		<div class="avatar-cell">
     	    	<div class="avatar">
     			    <img src="{{ . }}" title="{{ username }}'s avatar" />
     			</div>
     		</div>
 			{{/avatarURL }}
 			<aside class="postinfo-poster">{{ username }} {{# mod }}<img src="file:///android_res/drawable/ic_star_blue.png" />{{/mod }} {{# admin }}<img src="file:///android_res/drawable/ic_star_red.png" />{{/admin }} </aside>
 			<time class="postinfo-postdate">{{ postDate }}</time>
			<aside class="postinfo-title">{{{ avatarText }}}</aside>
		</section >
    </header>
	<section  class="postcontent">
		{{{ postcontent }}}
	</section >
</article>