<article class="{{# seen }}seen{{/ seen }} {{ previouslyRead }} {{# isMarked }}marked{{/isMarked }} {{# isOP }}op{{/isOP }} {{# isSelf }}self{{/isSelf }}"  id="post{{ postID }}">
	<header class="postheader">
     	<section  class="postinfo" {{# specialId }}id='{{specialId}}'{{/ specialId }}>
 			{{# avatarURL }}
     		<div class="avatar-cell">
     	    	<div class="avatar">
     			    <img src="{{ . }}" title="{{ username }}'s avatar" />
     			</div>
     		</div>
 			{{/avatarURL }}
 			<aside class="postinfo-poster">{{ username }} {{# mod }}<img src="file:///android_res/drawable/ic_star_blue.png" />{{/mod }} {{# admin }}<img src="file:///android_res/drawable/ic_star_red.png" />{{/admin }} </aside>
 			<time class="postinfo-postdate">{{ postDate }}</time>
 			<time class="postinfo-regdate">Registered: {{{ regDate }}}</time>
			<aside class="postinfo-title">{{{ avatarText }}}</aside>
		</section >
		<nav class="postmenu"></nav>
    </header>
		<ul  class="postoptions">
			<li class="more" username="{{ username }}" userid="{{ userID }}">
				more
			</li>
			<li class="lastread" lastreadid="{{ postIndex }}">
				last read
			</li>
			{{# canreply }}
				{{# editable }}
					<li class="edit">
						edit
					</li>
	        	{{/editable }}
				<li class="quote">
					quote
				</li>
			{{/ canreply }}
		</ul >
	<section  class="postcontent">
		{{{ postcontent }}}
	</section >
</article>